body{
    background-color: aqua;
}


/* Add a class to the container */
.card-container {
    display: flex;
 
    justify-content: center; 
    flex-wrap: wrap;
}

/* Optional: Add margin or padding to the individual cards if needed */
.card {
    margin: 10px; /* Adjust as needed */
}
