{% extends "base.html" %}

{%block content %}
<h1> This is Profile page</h1>

{{user_id}}

<small><a href="{% url 'uptade' %}">Update Profile</a></small>
</br>
<small><a href="{% url 'changepassword' %}">Change Password</a></small>

<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {% for post in data %}
        <div class="col-sm-3 ">
          <div class="card mx-2">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content}}</p>
              <p>Author: {{post.author.first_name}}</p>
              <p>
               Category: {% for cat in post.categories.all %}
              
              <button class="btn btn-primary disible btn-sm m-2">{{cat.name}}</button>
             
             
              {%endfor%}
            </p>
            <a href="{% url 'edit' post.id %}" class="btn btn-warning">Update</a>
            <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>
            {% comment %} <a href="#" class="btn btn-Danger">Delete</a> {% endcomment %}
              
            </div>
          </div>
        </div>
      
    {% endfor %}
    </div>




{%endblock%}