{% extends "base.html" %} 

{% block content %}
<div class="about-img">
  <img src="/static/images.jpg" alt="img" class="font-img"/>

  </div>
<div class="card-bos"> 
    <h1 class="title">American Delicious Foods</h1>
    <h3>328 Starling,Bronx</h3>
    </br> New York, NY 10027
    </h3>
    <p>Sunday – Tuesday:
    </br>  11:00 am – 8:00 pm</p>
    <p>Wednesday – Saturday:
    </br>  11:00 am – 8:00 pm</p>
    <p>December Holiday Hours;
    </br> Dec 24:Christmas Eve 11:00 am – 6:00 pm
    </br>Dine in until 5:00pm
    </br> To go only from 5:00pm – 6:00 pm
    </br>  Dec 25: Christmas – Closed
     Dec 26: Closed</p> 
    </div>

   


  


{% endblock %}