{% extends "base.html" %}

{% block content %}
{%load crispy_forms_tags %}
<h1> this is home page</h1>


{% if type == 'register' %} 
<form method="post" style="width: 560px; margin: auto;">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" >Signup</button>
</form>
{% elif type == 'login'  %} 
<form method="post" style="width: 560px; margin: auto;">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-warning">Login</button>
</form>
{% endif %}



{% endblock%}